.controling_container {
    &__wrapper {
        padding: calc(30px - $card-padding) calc(40px - $card-padding);
        
        &:first-child {
            border-bottom: 2px solid $color-controling-first-warpper-border-bottom;
        }
    }
    &__buttons {
        display: flex;
        justify-content: space-between;

        &__button {
            width: 192px;
            height: 36px;
            outline: 0;
            user-select: none;
            border: 0;
            font-family: 'Play';
            font-size: 20px;
            color: $color-controling-button-text;
            border-radius: 5px;
            cursor: $cursor_pointer;
            box-shadow: 2px 2px 8px black;

            transition: background-color .5s ease, transform .5s ease;

            &--add {
                position: relative;
                background-color: $color-controling-background-button-add;
                &:hover {
                    background-color: $color-controling-background-button-add-hover;
                }
            }
            &--search {
                background-color: $color-controling-background-button-search;
                &:hover {
                    background-color: $color-controling-background-button-search-hover;
                }
            }

            &:active {
                transform: translate(5px, 5px);
            }
        }
    }

    &__glossary-names {

        height: 205px;

        &__header-container {
            font-family: 'Play';
            color: $color-controling-glossary-text;
    
            text-align: center;
    
            &__header {
                font-size: 20px;
                font-weight: bold;
            }
    
            &__code-wrapper {
                font-size: 18px;
                &__code-person {
                    display: inline;
                    font-weight: 400;
                }
                &__code {
                    font-weight: bold;
                }
            }
        }

        &__list {
            overflow-y: auto;
            padding-top: 20px;
            height: calc(126px + 20px);
            &__item {
                display: flex;
                align-items: center;
                &__insert-button {
                    position: relative;
                    display: block;
                    width: 31px;
                    height: 22px;
                    padding: 0;
                    margin-left: 10px;
                    background: none;
                    border: none;
                    outline: none;
                    margin-right: 10px;
                    transition: transform .5s ease;

                    overflow: visible;

                    cursor: $cursor_pointer;
                    &__img {
                        position: absolute;
                        display: block;
                        width: 22px;
                        height: 31px;
                        top: 0;
                        left: 0;

                        --insert-button-rotate: -90deg;
                        --insert-button-scaleX: -1;
                        --insert-button-translateX: 0px;
                        --insert-button-translateY: 0px;
                        transform: 
                            rotate(var(--insert-button-rotate))
                            scaleX(var(--insert-button-scaleX))
                            translateX(var(--insert-button-translateX))
                            translateY(var(--insert-button-translateY));
                        transform-origin: top left;
                        background-image: url('../images/pointer.png');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        pointer-events: none;

                        transition: transform .5s ease;
                    }

                    &:hover {
                        transform: rotate(calc(-180deg * 2));
                    }
                    &:active {
                        transform: translate(-10px, 0px);
                    }

                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }
                }

                &__name {
                    display: block;
                    font-weight: bold;
                    font-size: 18px;
                }
            }
        }
    }
}