.inputs_container {
    padding: 15px 34px;
    width: 590px;
    height: 340px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__input-wrapper {
        width: 522px;
        height: 50px;

        position: relative;
        padding: 15px 0 0;
        margin-top: 10px;

        &__input {
            font-family: 'Play';
            width: 100%;
            cursor: $cursor_pointer;
            border: 0;
            border-bottom: 2px solid;
            border-image: linear-gradient(to right, $color-input, $color-input-border-linear-gradient-right);
            border-image-slice: 1;
            outline: 0;
            font-size: 18px;
            color: $color-input;
            padding: 7px 0;
            background: transparent;
            transition: border-image 1s;

            &::placeholder {
                color: transparent;
            }

            &:placeholder-shown ~ .inputs_container__input-wrapper__label {
                font-size: 18px;
                cursor: $cursor_pointer;
                top: 20px;
            }

            &:focus{
                &~ .inputs_container__input-wrapper__label {
                    position: absolute;
                    top: 0;
                    display: block;
                    transition: 0.2s;
                    font-size: 16px;
                    color: $color-input;
                    font-weight: 700;
                }
                padding-bottom: 6px;
                font-weight: 700;
                border-width: 3px;
                border-image: linear-gradient(to right, $color-input-border-linear-gradient-left, $color-input-border-linear-gradient-right);
                border-image-slice: 1;
            }

            &:required, &:invalid {
                box-shadow: none;
            }
        }

        &__label {
            position: absolute;
            top: 0;
            display: block;
            transition: 0.2s;
            font-size: 1rem;
            color: $color-input;
        }
    }
}