$key-info-max-height: 315px;

.key_info_container {
    overflow: hidden;
    transition: height 1s;

    max-height: $key-info-max-height;

    &__wrapper {
        overflow-y: auto;
        max-height: calc($key-info-max-height - $card-padding * 2);
    }

    &__block {
        &__text {
            text-overflow: ellipsis;
            font-weight: 400;
            font-size: 20px;
            
            white-space: normal;
            word-break: break-all;

            &:not(:first-child) {
                margin-left: 5px;
            }
        }
        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &__variant {
            padding: 0px 15px;
            color: $color-key-info-text-has-in-sheet;
            border-radius: 5px;

            font-size: 20px;
            font-family: 'Play';
            pointer-events: none;
            user-select: none;

            &--yes {
                background-color: $color-key-info-text-background-has-in-sheet-yes;
            }
            &--no {
                background-color: $color-key-info-text-background-has-in-sheet-no;
            }
        }
    }
}