.scrollbar {
    &::-webkit-scrollbar {
        background-color: $color-scroll-background;
        width: 4px;
        border-radius: 2px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: $color-scroll-button;
        &:hover {
            cursor: $cursor_pointer;
            background-color: $color-scroll-button-hover;
        }
    }
    &::-webkit-scrollbar-button {
        display: none;
    }
}