$cursor_default: url(../images/cursor.png), auto;
$cursor_pointer: url(../images/pointer.png), auto;

$color-text: #363535;
$color-btn-bg: #2b2b2b;
$color-btn-txt: #e2ecff;
$color-btn-txt-hv: #e2ecff;
$color-background: #ffffff;
$color-border-backrgound: #575757;
$color-button-common-names: #575757;
$color-button-common-names-hv: #d3d3d3 