$cursor_default: url(../images/cursor.png), auto;
$cursor_pointer: url(../images/pointer.png), auto;

$color-text: #363535;
$color-btn-bg: #ffffff;
$color-btn-txt: #575757;
$color-btn-border-hv: #5289f0;
$color-btn-box-shadow-hv: #5289f0;
$color-btn-txt-hv: #e3e8f0;
$color-background: #ffffff;
$color-border-backrgound: #575757;
$color-button-common-names: #575757;
$color-button-common-names-hv: #b2e5f1 