$cursor_default: url(../assets/cursor.png), auto;
$cursor_pointer: url(../assets/pointer.png), auto;

$color-scroll-background: #C7C7C7;
$color-scroll-button: #A0A0A0;
$color-scroll-button-hover: #777474;

$card-padding: 15px;
$color-card-background: #FAF7FF;
$color-card-text: #373636;

$color-background: #ffffff;

$color-input: #A4A4A4;
$color-input-border: #A4A4A4;
$color-input-label: #828282;

$color-input-border-linear-gradient-left: #53eed4;
$color-input-border-linear-gradient-right: #ffffff;

$color-key-info-text-has-in-sheet: #fff;
$color-key-info-text-background-has-in-sheet-yes: #F42424;
$color-key-info-text-background-has-in-sheet-no: #65FBD2;

$color-controling-first-warpper-border-bottom: #DDD7D7;
$color-controling-background-button-add: #05C19C;
$color-controling-background-button-add-hover: #0b7a64;
$color-controling-background-button-search: #67D6FF;
$color-controling-background-button-search-hover: #35bdee;
$color-controling-button-text: #fff;

$color-controling-glossary-text: #515151;