.controling_panel {
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 280px;
}

.controling_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 10px 25px;

    &:first-child {
        border-bottom: 2px solid #DDD7D7;
    }
}